APP_NAME=cms.surest.test
APP_ENV=local

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=news
DB_USERNAME=root
DB_PASSWORD=root

QINIU_AK=
QINIU_SK=
QINIU_BUKET_PATH=
QINIU_HOST=
QINIU_UPLOAD_URL=

REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_DB=10
